<br>
<div class="card">
  <div class="card-header">
    <h1>Editing Product</h1>
  </div>

  <div class="card-body">
    <%= render "form", product: @product %>
    <br>
    <%= link_to "Products List", products_path,class:"btn btn-primary" %>
  </div>
</div>
